/* Reset padrão*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root{

    --bg-color-container: #2c2c2c;
    --banana: #6d00eb;

    --fonte-padrao: Arial;

    --border-header-container: 2px solid red;

}

html{
    font-family: var(--fonte-padrao);
}

.container{
    background-color: darkmagenta;
    width: 300px;
    height: 300px;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    
}

.body-container{
    
    background-color: var(--banana);
}



.header-container{
    display: flex;
    width: 100vw;
    height: 100px;
    background-color: darkgray;
    text-align: left;
}

.header-container a {
    
    
    background-color: aqua;
    margin-left: 10px;
    margin-top: 10px;
    font-size: x-large;
    text-decoration: none;
    padding: 5px;
    border-radius: 10px;

}
/*Pseudo classe que identifica a posição do cursor do mouse*/
.header-container a:hover{

    background-color: darkblue;
    border: 2px solid greenyellow;
    color: #fff;


}

.logo{
    display: flex;
    height: 100px;
    width: 500px;
    background-color: black;
    color: #fff;
    align-items: center;
    justify-content: center;
}

.menu{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: blue;
}

.section01{
    display: none;
    height: 200px;
    margin: 10px auto;
    padding-left: 20px;
    background-color: blueviolet;
    color:#fff;
    border: black dashed 3px ;

}


.section01--title{
    margin-bottom: 10px;

}

.link-lista{
    font-size: medium;
    line-height: 20px;

}

.sumario details{
    border: 2px solid #ff0000;
    width: 50%;
    margin-left: 25px;
    border-radius: 5px;
    margin-bottom: 50px;
}

.sumario summary{
    background: #2c2c2c;
    color: white;
    height: 40px;
}

.sumario p{
    color: white;
    background: #25ba32;
    line-height: 40px;
}

/*
Display none: não aparece na tela
Display inline: elementos são em linhas,
não aceita largura e altura (ocupa apenas o seu espaço)
Display block: elementos são um abaixo do outro,
aceita largura e altura(ocupa a linha inteira)
Display inline block: elemantos em linha + largura e altura
*/